{% extends 'base.html' %}

{% block title %}Title{% endblock %}

{% block content %}

<style>
    textarea {
        width: 100%;
        background: rgba(255, 255, 255, 0.1);
        border: none;
        outline: 1px;
        color: white;
    }

    textarea:focus {
        color: white;
    }

</style>
</head>

<body>
    <form method="post">
        <h5>Input text here:</h5>
        <textarea id="text" name="legalese" rows="23" cols="60"></textarea>
        <br><br>
        <input class="btn btn-lg btn-secondary" type="submit" value="Submit">
        <br><br>
    </form>
</body>

{% endblock %}