{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<style>
  .modal-content {
    background-color: #fefefe;
        padding: 40px;
        border: 1px solid #888;
        width: 50%;
        position: absolute;
        float: left;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

  .button {
        background-color:rgb(90, 90, 90);
        border: none;
        color: white;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: center;
        font-size: 16px;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        border-radius: 8px;
    }

</style>
</head>
  
  <main role="main" class="inner cover">
        <h1 class="cover-heading">Combat Legal Jargon</h1>
        <p class="lead">Tools that can help solve any legal issues you may have.</p>
        <p class="lead">
          <a id="myBtn" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
    </main>


  <body>
    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <!-- <span class="close">&times;</span> -->
        <a href="/translate">Read from Text</a>
        <a>Read from Image</a>
        <a>Read from File</a>
      </div>
    </div>

    <script>
      // Get the modal
      var modal = document.getElementById("myModal");
      
      // Get the button that opens the modal
      var btn = document.getElementById("myBtn");
      
      // When the user clicks the button, open the modal 
      btn.onclick = function() {
        modal.style.display = "block";
      }
      
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
      </script>

  </body>

{% endblock %}
